@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* React Toastify */
    --toastify-color-progress-light: var(--color-primary-900);
    /* Used when no type is provided */
    --toastify-color-progress-dark: var(--color-primary-400);
  }

  h1 {
    @apply text-2xl mb-4;
  }
  h2 {
    @apply text-xl  mb-4;
  }
  h3 {
    @apply text-lg  mb-4;
  }
  h4,
  h5,
  h6 {
    @apply text-base  mb-4;
  }
  p {
    @apply mb-4;
  }
  a {
    @apply text-secondary-600 hover:text-secondary-700 underline;
  }
  ul {
    @apply list-disc mb-4;
  }
  li {
    @apply mb-1 ml-7;
  }

  blockquote {
    @apply mb-4;
  }

  table {
    @apply border-2 border-primary-900 dark:border-slate-200  mb-4 p-2;
  }

  thead {
    @apply border-b-2 border-primary-800 dark:border-slate-200 p-2;
  }

  thead-tr {
  }

  tr th {
    @apply p-2 border-r-2 last:border-r-0 border-primary-800 dark:border-slate-200 bg-primary-500;
  }

  tbody tr {
    @apply border-b-2 last:border-b-0 border-primary-800 dark:border-slate-200;
  }

  tbody tr td {
    @apply p-2 border-r-2 last:border-r-0 border-primary-800 dark:border-slate-200;
  }
}

@layer components {
  /*  Scrollbar */
  ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 0.25rem;

    @apply bg-slate-200 dark:bg-slate-700;
  }

  ::-webkit-scrollbar {
    @apply w-[8px];

    /* @apply bg-primary-100; */
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    @apply bg-slate-400 dark:bg-slate-800;
  }

  .btn {
    @apply hover:cursor-pointer  flex items-center justify-center rounded-lg px-5 py-1 shadow-inner  text-white text-sm;
  }

  .btn-default {
    @apply border-2 border-secondary-900 hover:border-tertiary-700 bg-secondary-700 hover:bg-secondary-600;
  }

  .btn-success {
    @apply border-2 border-secondary-900 hover:border-success-700 bg-secondary-700 hover:bg-secondary-600;
  }

  .btn-danger {
    @apply border-2 border-secondary-900 hover:border-danger-700 bg-secondary-700 hover:bg-secondary-600;
  }

  ul {
    list-style: circle;
  }
}
